# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
#*.so
#*.dylib
#*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
FWMoverDLAPI/.vs/FWMoverDLAPI/FileContentIndex/3c6c5675-30be-434b-a1ef-774e2c076b63.vsidx
FWMoverDLAPI/.vs/FWMoverDLAPI/FileContentIndex/55b0870b-39b1-4adb-983c-b53c724e44eb.vsidx
FWMoverDLAPI/.vs/FWMoverDLAPI/FileContentIndex/9d09386a-2668-44cd-9d9b-beb6abfbb6ac.vsidx
FWMoverDLAPI/.vs/FWMoverDLAPI/FileContentIndex/f4174ef6-0a37-432b-9ab8-a13f4a18deed.vsidx
FWMoverDLAPI/.vs/FWMoverDLAPI/FileContentIndex/read.lock
FWMoverDLAPI/.vs/FWMoverDLAPI/v17/.suo
FWMoverDLAPI/.vs/FWMoverDLAPI/v17/Browse.VC.db
FWMoverDLAPI/.vs/FWMoverDLAPI/v17/Browse.VC.db-shm
FWMoverDLAPI/.vs/FWMoverDLAPI/v17/Browse.VC.db-wal
FWMoverDLAPI/.vs/FWMoverDLAPI/v17/Browse.VC.opendb
FWMoverDLAPI/.vs/FWMoverDLAPI/v17/ipch/AutoPCH/e0bcd19c0214d583/FWMOVERDLAPI.ipch
